node_modules/
dist/
unpackage/
.hbuilderx/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env*.local
project.private.config.json
.npm-cache/
*.tsbuildinfo
vite-dev*.log
vite-ui*.log
vite.config.js
vite.config.d.ts
